@{
    ViewBag.Title = "Index";
}

<h1>Controlador de prueba de Autenticacion</h1>

@if (ViewBag.DisplayMenu)
{
    <h1>Welcome Admin. Now you can create user Role.</h1>   
    
    <h3>
        @Html.ActionLink("Manage Role", "Index", "Role")
    </h3>   
}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> :) .We will add user module soon </h2>   
}  